:80 {
  @api path /v1/* /health* /metrics
  handle @api {
    reverse_proxy api:4000 {
      flush_interval -1
    }
  }
  handle {
    reverse_proxy web:3000
  }
  header X-Content-Type-Options nosniff
}
